/**
The css in this file is only for backend editor.
This will be used to match the fonts, sizes etc in backend editor with the frontend
*/

/*body {
  background: #ddd;
}*/

@media (min-width: 768px) {
  .img-text.img-text--sameHeight .img-text__media img {
    max-height: 100%;
    height: auto;
  }
}
