.accreditation-section {
  padding: .5rem 0;
  margin-bottom: 3rem;

  .wp-block-columns {
    margin-bottom: 0;
    align-items: center;

    .wp-block-column {
      h3 {
        text-align: center;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          text-align: left;
        }
      }

      .wp-block-image img{
        height: auto;
      }

      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(md) {
          justify-content: flex-end;
        }

        > .wp-block-image {
          margin-bottom: 0;
          padding: 0 .5rem;
          display: block;

          @include media-breakpoint-up(md) {
            margin-left: .5rem;
            padding: 0;
          }
        }
      }
    }

  }
}
