.page-header {
  background-color: transparent;
  min-height: 8rem;
}

@include media-breakpoint-up(md) {
  .page-header {
    min-height: 13.75rem;
  }
}

.top-banner {
  .wp-block-buttons {
    display: flex;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
}
