.lg-cards.discover-cards {
  .card {
    color: #fff;

    h2, h3 {
      color: #fff;
    }
  }

  .card.activateOverlay img {
    height: 100%;
    object-fit: cover;
  }

  .wp-block-lg-blocks-card {
    margin-bottom: 22px;
  }

  .row {
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;

  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .card-body {
    padding: 2.2rem;
  }
}

.lg-cards.services-cards {
  .card {
    box-shadow: 0px 1px 2px #00000059;
    border: 1px solid #D9D9D9;
    border-top: 5px solid theme-color("primary");

    ul {
      padding-left: 20px;
    }

    h3 {
      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }
  }

  .card-body {
    padding: 1.8rem 1.375rem;
  }

  .wp-block-lg-blocks-card {
    margin-bottom: 47px;
  }
}
