.contact-us {
  .img-text__content {
    background-color: theme-color("primary");
  }

  .gform_fields {
    list-style: none;
    padding-left: 0;

    > li {
      margin-bottom: 20px;
    }
  }

  .gform_wrapper {
    margin-top: 0;

    h3.gform_title {
      color: #fff;
      font-size: 1.1875rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    .ginput_container {
      display: flex;
      align-items: center;
      position: relative;
      &.triangle {
        &:after {
          width: 20px;
          height: 20px;
          content: '';
          transform: rotate(45deg);
          background-color: theme-color('primary');
          position: absolute;
          right: -15px;
        }
      }
    }

    input, select {
      width: 100%;
      min-height: 2.5rem !important;
      padding: 2px 4px !important;
      border: 0;
      &:focus {
        outline: none;
      }
    }

    textarea {
      width: 100%;
      max-height: 85px;
      &:focus {
        outline: none;
      }
    }

    .gform_footer input[type=submit] {
      background-color: theme-color("secondary");
      text-transform: uppercase;
      width: auto;
      font-weight: 600;
      padding: 5px 39px !important;
    }
  }

  .validation_error {
    color: red;
    margin-bottom: 1rem;
  }
  .validation_message{
    color: red;
  }
}


@include media-breakpoint-up(xl) {
  .contact-us {
    .img-text__inner {
      max-width: 1010px;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .img-text__media{
      flex: 0 0 56%;
    }

    .img-text__content {
      flex: 0 0 44%;

    }
  }
}
