a {
  transition: all 0.4s ease-in-out;

  &:hover, &:focus, &:active {
    color: theme-color("secondary");
  }
}
.wp-block-image img {
  height: auto;
}
.wp-block-button.cta-large {
  .wp-block-button__link {
    padding: 20px 40px;
  }
}

hr.lg {
  margin-top: $hr-margin-y * 3;
  margin-bottom: $hr-margin-y * 3;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.video-fix {
	iframe {
		display: block;
		margin: auto;
		max-width: 100%;
	}
}
