.wp-block-cover {
  padding: 1rem 0;

  @include media-breakpoint-up(sm) {
    padding: 3rem 0 5rem 0;
  }

  .wp-block-image {
    display: none;
    img{
      width: 140px;
    }
    @include media-breakpoint-up(lg) {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .wp-block-button {
    margin-bottom: 1rem;
    @include media-breakpoint-up(sm) {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &__inner-container {

    > p {
      font-size: 1.23rem;
      margin-bottom: 3rem;
      max-width: 600px;
    }
  }
}

.wp-block-cover {
  .wp-block-cover__inner-container {
    width: calc(100% - 4rem);
  }
}

.get-started-cover {
  padding: 2rem 0;
  min-height: auto;

  .wp-block-cover__inner-container {

    > p {
      max-width: none;
      margin-bottom: 2rem;
      font-size: 16px;
    }
  }
}

.wp-block-cover.has-primary-background-color {
  background-color: theme-color("primary");
}
