footer {
  font-size: 15px;

  a {
    color: #fff;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.widget .widget-title {
  border: 0;
  background-color: transparent;
  text-transform: none;
  padding: 0;
  font-weight: normal;
  font-size: 1.25rem;
}

#site-footer #site-legal {
  background-color: #611942;
  font-weight: 300;
  padding: 8px 2rem 0 2rem;
  letter-spacing: 0.14px;

  > div {
    font-size: 14px !important;

    a:hover, a:focus, a:active {
      color: theme-color("secondary");
    }
  }

  .site-info, .site-longevity {
    margin-bottom: 8px !important;
  }
}

#menu-footer-legal-menu {
  margin-bottom: 0;

  > li {
    display: inline-block;
    padding: 0 8px;
    position: relative;

    &:first-child {
      &:after {
        content: "|";
        position: absolute;
        right: 0;
        width: 1px;

      }
    }
  }
}

.site-footer-alpha {
  img {
    width: 140px;
  }
}
