.utility-bar {
  display: none;
}

#site-header {
  box-shadow: none;

  .navbar {
    padding: 0.41rem 1rem;
  }

  .navbar-brand {
    max-width: 80px;
    @include media-breakpoint-up(#{$nav-breakpoint-up}) {
      display: none;
    }
  }
}

.header-right-content {
  margin-right: 1rem;
  @include media-breakpoint-down($nav-breakpoint-down){
    margin-bottom: 1rem;
  }


  h5 {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 0;

    span {
      margin-right: 10px;
    }
  }

  .wp-block-button__link {
    padding: 6px 29px;
  }
}

@include media-breakpoint-down(sm) {
  .header-right-content{
    h5{
      span{
        display: block;
        margin-bottom: 1rem;
      }
    }
  }

}
