.pagination {
  margin-bottom: 40px;

  .page-item{
    .page-numbers{
      color: #000;
      @extend .page-link;
      transition: all .4s ease;
    }
  }

  .page-item .page-numbers.current {
    z-index: 1;
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }
}
