.wp-block-lg-blocks-testimonials {
  .fa-quote-left {
    display: none;
  }

  .slick-slider {
    @extend .container;

    .slick-list {
      text-align: left;
      max-width: none;
    }

    .slick-dots button::before {
      color: #fff;
    }

    .slick-dots li.slick-active button:before {
      color: theme-color("primary");
    }
  }

  .slick-slide {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;

    &:before {
      content: "";
      background-image: url("../images/5star.png");
      top: 0;
      left: 0;
      height: 40px;
      width: 100%;
      display: block;
      background-repeat: no-repeat;
    }
  }

  .slick-track {
    display: flex;
  }
}
.lg-slider__content{
  margin-bottom: 20px;
}

.lg-slider__title {
  font-style: italic;
  margin-top: auto;
}

@include media-breakpoint-up(lg) {
  .wp-block-lg-blocks-testimonials {
    .slick-slide {
      padding: 0 40px;
    }
  }
}
