.why-choose {
  ul {
    padding-left: 0;

    li {
      position: relative;
      list-style: none;
      font-size: 1.1875rem;
      padding: 5px;

      &:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        margin-right: 10px;
      }
    }
  }
}

@include media-breakpoint-down(sm){
  .why-choose {
    .img-text__content {
      padding: 20px 0;
    }
  }
}
